.firstImage{
    width: 80%;
    height: auto;
    
}


.navbar {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}
.second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}
